<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>

    <body>
        <div class="container">
            <div th:include="fragments/bodyHeader :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:25%;margin-top:15%;">
                <form class="form-signin" role="form" th:action="@{/j_spring_security_check}" method="post">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <p th:if="${loginError}" class="text-danger">Wrong email or password!</p>
                    <input type="text" class="form-control" placeholder="Email address" name="j_username"/>
                    <input type="password" class="form-control" placeholder="Password" name="j_password" style="margin-top:1%;" />
                    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:1%;">Sign in</button>
                </form>
                <a th:href="@{/passwordRecovery}">Forgotten password ?</a>
            </div>

        </div>
    </body>

</html>