<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <link   href="../../resources/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}"
                rel="stylesheet" type="text/css"/>
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeader :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                Registration form for interns.
                
                <form role="form" action="#" th:action="@{/registerIntern}" th:object="${intern}" method="post">
                    
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" name="first_name" th:field="*{user.name}" placeholder="Name"/>
                        <p class="label label-danger" th:errors="*{user.name}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name </label>
                        <input type="text" class="form-control" name="last_name" th:field="*{user.lastName}" placeholder="Last name"/>
                        <p class="label label-danger" th:errors="*{user.lastName}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telephone number </label>
                        <input type="text" class="form-control" name="phone" th:field="*{user.telephone}" placeholder="Telephone"/>
                        <p class="label label-danger" th:errors="*{user.telephone}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email </label>
                        <input type="text" class="form-control" name="email" th:field="*{user.email}" placeholder="Email"/>
                        <p class="label label-danger" th:errors="*{user.email}">invalid email</p>
                    </div>
                    <div class="form-group">
                        <label for="pass">Password </label>
                        <input type="password" class="form-control" name="pass" th:field="*{user.pass}" placeholder="Password"/>
                        <p class="label label-danger" th:errors="*{user.pass}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="interests">Interests</label>
                        <textarea class="form-control" name="interests" th:field="*{user.interests}" placeholder="Interests"/>
                        <p class="label label-danger" th:errors="*{user.interests}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="requirements">Requirements</label>
                        <textarea class="form-control" name="requirements" th:field="*{requirements}" placeholder="Requirements"/>
                        <p class="label label-danger" th:errors="*{requirements}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="starting_date">Start date</label>
                        <input type="datetime" class="form-control" name="starting_date" th:field="*{startingDate}" id="starting_date"/>
                        <p class="label label-danger" th:errors="*{startingDate}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="ending_date">End date</label>
                        <input type="datetime" class="form-control" name="ending_date" th:field="*{endingDate}" id="ending_date"/>
                        <p class="label label-danger" th:errors="*{endingDate}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" name="gender" th:field="*{user.gender}">
                            <option value="male">male</option>
                            <option value="female">female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="preferred_gender">Preferred gender</label>
                        <select class="form-control" name="preferred_gender" th:field="*{preferredGender}">
                            <option value="any">any</option>
                            <option value="male">male</option>
                            <option value="female">female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="english_level">English level</label>
                        <select class="form-control" name="english" th:field="*{user.english}">
                            <option value="poor">poor</option>
                            <option value="good">good</option>
                            <option value="perfect">perfect</option>
                        </select>
                    </div>
                    
                    <input type="submit" value="Register !" class="btn btn-default"/>
                </form>
            </div>
        </div>
        
        <script>
            $(function() {
                $('#starting_date').datepicker({ dateFormat: 'yy/mm/dd' });
                $('#ending_date').datepicker({ dateFormat: 'yy/mm/dd' });
            });
        </script>
    </body>

</html>