<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>

    <body>
        <div class="container">
            <div th:include="fragments/bodyHeader :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                <h1>You have successful registered for AIESEC <span th:text="*{program}"></span> program. We will soon contact you for additional information.</h1>
            </div>
        </div>
    </body>

</html>