<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>

    </head>

    <body th:fragment="bodyHeader">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                    <a class="navbar-brand" th:href="@{/user/}">
                        Lion - coordinating system
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/user/messages}">Messages</a></li>
                        <li><a th:href="@{/user/problem}">Add problem</a></li>
                        <li><a th:href="@{/user/story}">Add story</a></li>
                        <li><a th:href="@{/user/search}">Search</a></li>
                        <li class="dropdown" sec:authorize="hasRole('ROLE_HOST')">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                More
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/host/edit}">Edit host</a></li>
                                <li><a th:href="@{/host/matched-interns}">Matched interns</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" sec:authorize="hasRole('ROLE_INTERN')">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                More
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/intern/edit}">Edit intern</a></li>
                                <li><a th:href="@{/intern/matched-hosts}">Matched hosts</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" sec:authorize="hasRole('ROLE_AIESEC')">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                More
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/aiesec/approve-new-users}">Approve new users</a></li>
                                <li><a th:href="@{/aiesec/newMatching}">Create new Matching</a></li>
                                <li><a th:href="@{/aiesec/problems}">List problems</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                User : <span th:text="${#httpServletRequest.remoteUser}">http servlet request name</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/user/view-profile}">View profile</a></li>
                                <li><a th:href="@{/user/edit}">Edit profile</a></li>
                                <li><a th:href="@{/user/logout}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

</html>