<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>

    </head>

    <body th:fragment="bodyHeader">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/user/}">
                        Lion - coordinating system
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/registerAiesec}">Register Aiesec</a></li>
                        <li><a th:href="@{/registerHost}">Register Host</a></li>
                        <li><a th:href="@{/registerIntern}">Register Intern</a></li>
                        <li><a th:href="@{/login}">Sign in</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

</html>