<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="headTag">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Web application for coordination between hosts, interns and AIESEC members</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" 
                th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
        
        <link   href="../../resources/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}"
                rel="stylesheet" type="text/css"/>

        <link   href="../../resources/css/bootstrap-theme.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.css}"
                rel="stylesheet" type="text/css"/>

        <script src="../../resources/js/bootstrap.js" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.js}"
                type="text/javascript"></script>
        
        <script th:src="@{/webjars/jquery-ui/1.11.1/jquery-ui.js}"></script>
    
        <link   th:href="@{/webjars/jquery-ui/1.11.1/jquery-ui.css}" rel="stylesheet" type="text/css"/>
        
        <link   th:href="@{/resources/css/lion.css}" rel="stylesheet" type="text/css"/>
        
        <script th:src="@{/resources/js/lightbox.js}"></script>
        <link   th:href="@{/resources/css/lightbox.css}" rel="stylesheet" />
    </head>

    <body>
    </body>

</html>




