<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>

    </head>

    <body>
        <div th:fragment="host(host)">
            <tr>
                <td>Maximum number of interns</td>
                <td th:text="${host.maxInterns}">22</td>
            </tr>
            <tr>
                <td>Address</td>
                <td th:text="${host.address}">22</td>
            </tr>
            <tr>
                <td>About couch</td>
                <td th:text="${host.aboutCouch}">22</td>
            </tr>
            <tr>
                <td>Can host interns from</td>
                <td>
                    <span th:if="${host.startingDate != null}" th:text="${#calendars.format(host.startingDate, 'yyyy.MM.dd')}">
                        01/24/1988
                    </span>
                </td>
            </tr>
            <tr>
                <td>Smoking is </td>
                <td>
                    <span th:if="${host.smoking}">allowed</span>
                    <span th:if="${!host.smoking}">forbidden</span>
                </td>
            </tr>
            <tr>
                <td>Has private bed for intern</td>
                <td>
                    <span th:if="${host.privateBed}">Yes</span>
                    <span th:if="${!host.privateBed}">No</span>
                </td>
            </tr>
            <tr>
                <td>Has private room for intern</td>
                <td>
                    <span th:if="${host.privateRoom}">Yes</span>
                    <span th:if="${!host.privateRoom}">No</span>
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <div>
                        <a th:each="pic : ${host.pictures}" th:href="@{${pic.location}}" data-lightbox="example-set" data-title="">
                            <img th:src="@{${pic.location}}" th:alt="${pic.alt}" width="75" height="75"/>
                        </a>
                    </div>
                </td>
            </tr>
        </div>

        <div th:fragment="intern(intern)">
            <tr>
                <td>Internship start date</td>
                <td>
                    <span th:if="${intern.startingDate != null}" th:text="${#calendars.format(intern.startingDate, 'yyyy.MM.dd')}">
                        01/24/1988
                    </span>
                </td>
            </tr>
            <tr>
                <td>Internship end date</td>
                <td>
                    <span th:if="${intern.endingDate != null}" th:text="${#calendars.format(intern.startingDate, 'yyyy.MM.dd')}">
                        01/24/1988
                    </span>
                </td>
            </tr>
            <tr>
                <td>Additional requirements</td>
                <td th:text="${intern.requirements}">requirements</td>
            </tr>
            <tr>
                <td>Preferred gender</td>
                <td th:text="${intern.preferredGender}">preferred gender</td>
            </tr>
        </div>
    </body>

</html>