<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                Inbox
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>Title</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="message : ${conversations}">
                            <td>
                                <span th:if="${!message.readed}" class="glyphicon glyphicon-envelope"></span>
                                <span th:text="${message.sender.email}"></span>
                            </td>
                            <td><a th:href="@{'/user/messages/' + ${message.sender.id}}" th:text="${message.title}"></a></td>
                            <td th:text="${#calendars.format(message.dateCreated,'dd.MM.yy HH:mm:ss')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>