<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                Your conversation with : <a th:href="@{'/user/view-profile/' + ${otherUser.id}}" th:text="${otherUser.email}">other user email</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Message</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="message : ${messages}">
                            <td>
                                <span th:text="${message.sender.name}"></span>
                            </td>
                            <td th:text="${message.title}"></td>
                            <td th:text="${message.message}"></td>
                            <td th:text="${#calendars.format(message.dateCreated,'dd.MM.yy hh:mm:ss')}"></td>
                        </tr>
                    </tbody>
                </table>
                <a th:href="@{'/user/newmessage/' + ${otherUser.id}}"><span class="btn btn-success">New message</span></a>
            </div>
        </div>
    </body>

</html>