<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                Form for editing profile.
                <p th:text="${result}"></p>
                <form role="form" th:action="@{/user/edit}" th:object="${user}" method="post">
                    
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" name="first_name" th:field="*{name}"/>
                        <p class="label label-danger" th:errors="*{name}">name error</p>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name </label>
                        <input type="text" class="form-control" name="last_name" th:field="*{lastName}"/>
                        <p class="label label-danger" th:errors="*{lastName}">lastName error</p>
                    </div>
                    <div class="form-group">
                        <label for="interests">Interests</label>
                        <textarea class="form-control" name="interests" th:field="*{interests}"/>
                        <p class="label label-danger" th:errors="*{interests}">interests error</p>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" name="gender" th:field="*{gender}">
                            <option value="male">male</option>
                            <option value="female">female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="english_level">English level</label>
                        <select class="form-control" name="english" th:field="*{english}">
                            <option value="poor">poor</option>
                            <option value="good">good</option>
                            <option value="perfect">perfect</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Birth date</label>
                        <input type="datetime" class="form-control" name="birthDate" th:field="*{birthDate}" id="birthDate" />
                        <p class="label label-danger" th:errors="*{birthDate}">birth date error</p>
                    </div>
                    
                    Information for contacts
                    
                    <div class="form-group">
                        <label for="phone">Telephone number </label>
                        <input type="text" class="form-control" name="phone" th:field="*{telephone}"/>
                        <p class="label label-danger" th:errors="*{telephone}">phone error</p>
                    </div>
                    <div class="form-group">
                        <label for="skype">Skype</label>
                        <input type="text" class="form-control" name="skype" th:field="*{skype}" />
                        <p class="label label-danger" th:errors="*{skype}">skype error</p>
                    </div>
                    <div class="form-group">
                        <label for="facebook">Facebook</label>
                        <input type="text" class="form-control" name="facebook" th:field="*{facebook}" />
                        <p class="label label-danger" th:errors="*{facebook}">facebook error</p>
                    </div>
                    
                    <input type="submit" value="Save changes!" class="btn btn-default"/>
                </form>
            </div>
        </div>
        
        <script>
            $(function() {
                $('#birthDate').datepicker({ dateFormat: 'yy/mm/dd' });
            });
        </script>
    </body>

</html>