<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                Form for problems.
                
                <form role="form" th:action="@{/user/problem}" method="post">
                    <div class="form-group">
                        <label for="about">About user</label>
                        <select class="form-control" name="about">
                            <option value="0">--Choose user--</option>
                            <option th:each="entry : ${usersMap.entrySet()}" th:value="${entry.key}" th:text="${entry.value}"></option>
                        </select>
                        <p class="label label-danger" th:if="*{invalidAbout}" th:utext="#{invalid.about.problem.user}">about user error</p>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" maxlength="5000"/>
                        <p class="label label-danger" th:if="*{descriptionSize}" th:utext="#{description.size}">description error</p>
                    </div>
                    
                    <input type="submit" value="Submit problem" class="btn btn-default"/>
                </form>
            </div>

        </div>
    </body>

</html>