<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                Search
                <form role="form" method="post" th:action="@{/user/search}" th:object="${searchForm}">
                    <div class="container">
                        <label for="name">Name</label>
                        <input type="text" th:field="*{name}" class="search-field"/>
                        
                        <label for="lastName">Last Name</label>
                        <input type="text" th:field="*{lastName}" class="search-field"/>
                        
                        <label for="email">Email</label>
                        <input type="text" th:field="*{email}" class="search-field"/>
                        
                        <label for="gender">Gender</label>
                        <select name="gender" th:field="*{gender}" class="search-field">
                            <option value="any">Any</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        
                        <label for="type">User type</label>
                        <select name="type" th:field="*{type}" class="search-field">
                            <option value="any">Any</option>
                            <option value="host">Host</option>
                            <option value="intern">Intern</option>
                            <option value="aiesec">AIESEC member</option>
                        </select>
                        <input type="submit" value="Search" class="btn btn-default"/>
                    </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="search-result-col">Name</th>
                            <th class="search-result-col">Email</th>
                            <th class="search-result-col">Type</th>
                            <th class="search-result-col">Birth date</th>
                            <th class="search-result-col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${filteredUsers}">
                            <td class="search-result-col" th:text="${user.name} + ' ' + ${user.lastName}"></td>
                            <td class="search-result-col" th:text="${user.email}"></td>
                            <td class="search-result-col" th:text="${user.userType}"></td>
                            <td class="search-result-col" th:text="${#calendars.format(user.birthDate,'dd.MM.yyyy')}"></td>
                            <td class="search-result-col"><a class="btn btn-default" th:href="@{'/user/view-profile/' + ${user.id}}">View</a></td>
                        </tr>
                        <tr th:if="${filteredUsers.size() == 0}">
                            <td colspan="5">
                                <p class="text-center"><strong>No users found!</strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>