<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                
                <!--this is the table for the previous messages-->
                <!--maybe it is better if the table in the bottom and the form on the top and pagination-->
                
                Sent

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>To</th>
                            <th>Title</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="message : ${conversations}">
                            <td th:text="${message.receiver.name}"></td>
                            <td><a th:href="@{/user/messages/ + ${message.receiver.id}}" th:text="${message.title}"></a></td>
                            <td th:text="${#calendars.format(message.dateCreated,'dd.MM.yy hh:mm:ss')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>