<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                Form for happy stories.
                
                <form role="form" th:action="@{/user/story}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="about">About user</label>
                        <select class="form-control" name="about">
                            <option value="0">--Choose user--</option>
                            <option th:each="entry : ${usersMap.entrySet()}" th:value="${entry.key}" 
                                    th:text="${entry.value}" th:selected="${about.equals(entry.key)}"></option>
                        </select>
                        <p class="label label-danger" th:if="*{invalidAbout}" th:utext="#{invalid.about.problem.user}">about user error</p>
                    </div>
                    <div class="form-group">
                        <label for="started_date">About internship started date</label>
                        <input type="date" class="form-control" name="startedDate" id="started_date" th:value="${startedDate}"/>
                        <p class="label label-danger" th:if="*{invalidStartedDate}" th:utext="#{typeMismatch.date}">about user error</p>
                    </div>
                    <div class="form-group">
                        <label for="ended_date">About internship ended date</label>
                        <input type="date" class="form-control" name="endedDate" id="ended_date" th:value="${endedDate}"/>
                        <p class="label label-danger" th:if="*{invalidEndedDate}" th:utext="#{typeMismatch.date}">about user error</p>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" th:value="${description}"/>
                        <p class="label label-danger" th:if="*{invalidDescription}" th:utext="#{description.size}">about user error</p>
                    </div>
                    <div class="form-group">
                        <label for="videoLink">Link to youtube video</label>
                        <input type="text" class="form-control" name="videoLink" th:value="${videoLink}"/>
                        <p class="label label-danger" th:if="*{invalidVideoLink}" th:utext="#{invalid.story.video.link}">about user error</p>
                    </div>

                    <div th:object="${fileUploadForm}">
                        <div class="form-group">
                            <label for="uploading">Uploading 1</label>
                            <input type="file" id="uploading" name="files[0]" />
<!--                            <p class="label label-danger" th:if="*{invalidFile0}" th:utext="#{invalid.story.picture}">picture error</p>-->
                        </div>
                    </div>
                    <p class="label label-danger" th:if="*{invalidFile0}" th:utext="#{invalid.story.picture}">picture error</p>
                    <div th:object="${fileUploadForm}">
                        <div class="form-group">
                            <label for="uploading">Uploading 2</label>
                            <input type="file" id="uploading" name="files[1]" />
<!--                            <p class="label label-danger" th:if="*{invalidFile1}" th:utext="#{invalid.story.picture}">picture error</p>-->
                        </div>
                    </div>
                    <p class="label label-danger" th:if="*{invalidFile1}" th:utext="#{invalid.story.picture}">picture error</p>
                    <div th:object="${fileUploadForm}">
                        <div class="form-group">
                            <label for="uploading">Uploading 3</label>
                            <input type="file" id="uploading" name="files[2]" />
<!--                            <p class="label label-danger" th:if="*{invalidFile2}" th:utext="#{invalid.story.picture}">picture error</p>-->
                        </div>
                    </div>
                    <p class="label label-danger" th:if="*{invalidFile2}" th:utext="#{invalid.story.picture}">picture error</p>
                    <div th:object="${fileUploadForm}">
                        <div class="form-group">
                            <label for="uploading">Uploading 4</label>
                            <input type="file" id="uploading" name="files[3]" />
<!--                            <p class="label label-danger" th:if="*{invalidFile3}" th:utext="#{invalid.story.picture}">picture error</p>-->
                        </div>
                    </div>
                    <p class="label label-danger" th:if="*{invalidFile3}" th:utext="#{invalid.story.picture}">picture error</p>
                    <div th:object="${fileUploadForm}">
                        <div class="form-group">
                            <label for="uploading">Uploading 5</label>
                            <input type="file" id="uploading" name="files[4]" />
<!--                            <p class="label label-danger" th:if="*{invalidFile4}" th:utext="#{invalid.story.picture}">picture error</p>-->
                        </div>
                    </div>
                    <p class="label label-danger" th:if="*{invalidFile4}" th:utext="#{invalid.story.picture}">picture error</p>

                    <br/><br/>
                    <input type="submit" value="Submit story" class="btn btn-default"/>
                </form>
            </div>

        </div>
        
        <script>
            $(function() {
                $('#started_date').datepicker({ dateFormat: 'yy/mm/dd' });
                $('#ended_date').datepicker({ dateFormat: 'yy/mm/dd' });
            });
        </script>
    </body>

</html>