<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>

    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title" th:text="${user.name} + ' ' + ${user.lastName}">Name + lastName</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 " align="center">
                                        <img th:if="${user.avatar} != null" th:alt="${user.avatar.alt}" 
                                             th:src="@{${user.avatar.location}}" class="img-circle" /> 
                                        <img th:if="${user.avatar} == null" alt="User Pic" th:src="@{/resources/images/default-avatar.png}" class="img-circle" /> 
                                    </div>
                                    <div class=" col-md-9 col-lg-9 "> 
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>Email</td>
                                                    <td th:text="${user.email}">Email</td>
                                                </tr>
                                                <tr>
                                                    <td>Role</td>
                                                    <td th:text="${user.userType}"></td>
                                                </tr>
                                                <tr>
                                                    <td>Date of Birth</td>
                                                    <td th:text="${#calendars.format(user.birthDate, 'yyyy.MM.dd')}">01/24/1988</td>
                                                </tr>
                                                <tr>
                                                    <td>Telephone</td>
                                                    <td th:text="${user.telephone}">03821823</td>
                                                </tr>
                                                <tr>
                                                    <td>English level</td>
                                                    <td th:text="${user.english}">good</td>
                                                </tr>
                                                <tr>
                                                    <td>Gender</td>
                                                    <td th:text="${user.gender}">Male</td>
                                                </tr>
                                                <tr>
                                                    <td>Skype</td>
                                                    <td th:text="${user.skype}">profile</td>
                                                </tr>
                                                <tr>
                                                    <td>Facebook</td>
                                                    <td th:text="${user.facebook}">facebook</td>
                                                </tr>
                                                <tr>
                                                    <td>Interests</td>
                                                    <td th:text="${user.interests}"></td>
                                                </tr>
                                                <tr sec:authorize="hasRole('ROLE_AIESEC')">
                                                    <td>Questions</td>
                                                    <td th:text="${user.questions}"></td>
                                                </tr>
                                                 <!--
                                                 TODO : there is some strange problem here, when the bitch is parsed there are left 2 floating divs :?
                                                 -->
                                                <div th:if="${user.userType == user.userType.HOST}" >
                                                    <div th:replace="fragments/view-profile :: host(host=${host})"></div>
                                                </div>
                                                <div th:if="${user.userType == user.userType.INTERN}">
                                                    <div th:replace="fragments/view-profile :: intern(intern=${intern})"></div>
                                                </div>
                                            </tbody>
                                        </table>
                                        
                                        <a th:if="${!user.activated}" th:href="@{'/aiesec/activate-profile/' + ${user.id}}" 
                                           sec:authorize="hasRole('ROLE_AIESEC')" class="btn btn-primary">Activate user profile</a>
                                           
                                        <a th:href="@{'/aiesec/view-notes/' + ${user.id}}" 
                                           sec:authorize="hasRole('ROLE_AIESEC')" class="btn btn-primary">View Notes</a>
                                           
                                        <a th:if="${signedInUser}" th:href="@{/user/edit}" class="btn btn-primary">Edit user profile</a>
                                        
                                        <a th:if="${!signedInUser}" th:href="@{'/user/newmessage/' + ${user.id}}" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-envelope"></span> Message
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>