<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>

    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                <div class="row">
                    <span th:text="${story.author.email}"></span>
                    <span th:text="${story.about.email}" class="text-right"></span>
                </div>
            </div>
        </div>
    </body>

</html>