<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>

    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="jumbotron">
                <h3 class="text-center">
                    Welcome <span th:text="${user.name} + ' ' + ${user.lastName}"></span>. You are logged with role <span th:text="${user.userType}"></span>.
                </h3>
            </div>
            
        </div>
    </body>

</html>