<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <link   href="../../resources/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}"
                rel="stylesheet" type="text/css"/>
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                Edit your intern profile information.
                
                <form role="form" action="#" th:action="@{/intern/edit}" th:object="${intern}" method="post">
                    
                    <div class="form-group">
                        <label for="requirements">Requirements</label>
                        <textarea class="form-control" name="requirements" th:field="*{requirements}"/>
                        <p class="label label-danger" th:errors="*{requirements}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="starting_date">Start date</label>
                        <input type="datetime" class="form-control" name="starting_date" th:field="*{startingDate}" id="starting_date"/>
                        <p class="label label-danger" th:errors="*{startingDate}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="ending_date">End date</label>
                        <input type="datetime" class="form-control" name="ending_date" th:field="*{endingDate}" id="ending_date"/>
                        <p class="label label-danger" th:errors="*{endingDate}">pass error</p>
                    </div>
                    <div class="form-group">
                        <label for="preferred_gender">Prefer your host to be male or female ? Say it here :)</label>
                        <select class="form-control" name="preferred_gender" th:field="*{preferredGender}">
                            <option value="any">any</option>
                            <option value="male">male</option>
                            <option value="female">female</option>
                        </select>
                    </div>
                    
                    <input type="submit" value="Save!" class="btn btn-default"/>
                </form>
            </div>
        </div>
        
        <script>
            $(function() {
                $('#starting_date').datepicker({ dateFormat: 'yy/mm/dd' });
                $('#ending_date').datepicker({ dateFormat: 'yy/mm/dd' });
            });
        </script>
    </body>

</html>