<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                New stories who are not approved.
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Author</th>
                            <th>About</th>
                            <th>Started Date</th>
                            <th>Ended Date</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="story : ${newStories}">
                            <td>
                                <a th:href="@{'/user/view-profile/' + ${story.author.id}}" 
                                   th:text="${story.author.name} + ' ' + ${story.author.lastName}"></a>
                            </td>
                            <td>
                                <a th:href="@{'/user/view-profile/' + ${story.about.id}}" 
                                   th:text="${story.about.name} + ' ' + ${story.about.lastName}"></a>
                            </td>
                            <td th:text="${#calendars.format(story.startedDate, 'dd.MM.yyyy')}"></td>
                            <td th:text="${#calendars.format(story.endedDate, 'dd.MM.yyyy')}"></td>
                            <td th:text="${story.description}"></td>
                            <td><a th:href="@{'/aiesec/approve-story/' + ${story.id}}"><span class="btn btn-success">Approve</span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>