<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                New users which profiles are not yet approved.
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Names</th>
                            <th>Email</th>
                            <th>Telephone</th>
                            <th>Type</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${newUsers}">
                            <td th:text="${user.name} + ' ' + ${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.telephone}"></td>
                            <td th:text="${user.userType}"></td>
                            <td><a th:href="@{'/user/view-profile/' + ${user.id}}"><span class="btn btn-success">Profile</span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>