<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>

    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:85%;">
                Hey there you are creating new matching so choose host and intern. It's good to hop in there and one buddy ;)

                <form method="post" role="form" th:action="@{/aiesec/newMatching}">
                    <div class="form-group">
                        <label for="host">Host</label>
                        <select class="form-control" name="host">
                            <option value="0">--Choose Host--</option>
                            <option th:each="ele : ${hosts}" th:value="${ele.id}" 
                                    th:text="${ele.name} + ' ' + ${ele.lastName}" ></option>
                        </select>
                        <p class="label label-danger" th:if="*{invalidHost}" th:utext="#{invalid.about.problem.user}">invalid host</p>
                    </div>
                    <div class="form-group">
                        <label for="intern">Intern</label>
                        <select class="form-control" name="intern">
                            <option value="0">--Choose intern--</option>
                            <option th:each="ele : ${interns}" th:value="${ele.id}" 
                                    th:text="${ele.name} + ' ' + ${ele.lastName}" ></option>
                        </select>
                        <p class="label label-danger" th:if="*{invalidIntern}" th:utext="#{invalid.about.problem.user}">invalid intern</p>
                    </div>
                    <div class="form-group">
                        <label for="buddy">Buddy</label>
                        <select class="form-control" name="buddy">
                            <option value="0">--Choose buddy--</option>
                            <option th:each="ele : ${aiesecs}" th:value="${ele.id}" 
                                    th:text="${ele.name} + ' ' + ${ele.lastName}" ></option>
                        </select>
                        <p class="label label-danger" th:if="*{invalidAiesec}" th:utext="#{invalid.about.problem.user}">invalid buddy</p>
                    </div>
                    <div class="form-group">
                        <label for="startDate">From date</label>
                        <input type="text" class="form-control" name="startDate" id="startDate"/>
                        <p class="label label-danger" th:if="*{invalidStartDate}" th:utext="#{typeMismatch.date}">invalid start date</p>
                    </div>
                    <div class="form-group">
                        <label for="endDate">To date</label>
                        <input type="text" class="form-control" name="endDate" id="endDate"/>
                        <p class="label label-danger" th:if="*{invalidEndDate}" th:utext="#{typeMismatch.date}">invalid end date</p>
                    </div>
                    
                    <input type="submit" value="Match!" class="btn btn-default"/>
                </form>

            </div>
        </div>
        <script>
            $(function() {
                $('#startDate').datepicker({ dateFormat: 'yy/mm/dd' });
                $('#endDate').datepicker({ dateFormat: 'yy/mm/dd' });
            });
        </script>
    </body>

</html>