<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                Problem
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Author</th>
                            <th>About</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="problem : ${problems}">
                            <td><a th:href="@{'/user/view-profile/' + ${problem.author.id}}" th:text="${problem.author.email}"></a></td>
                            <td><a th:href="@{'/user/view-profile/' + ${problem.about.id}}" th:text="${problem.about.email}"></a></td>
                            <td th:text="${problem.description}"></td>
                        </tr>
                        <tr th:if="${problems.size() == 0}">
                            <td colspan="3">
                                <p class="text-center"><strong>No submitted problems yet!</strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>