<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>
            
            <div class="center-block" style="width:95%;">
                Notes added for : <span th:text="${aboutUser.email}">other user email</span>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Author</th>
                            <th>Note</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="note : ${notes}">
                            <td>
                                <a th:href="@{'/user/view-profile/' + ${note.author.id}}" 
                                   th:text="${note.author.name} + ${note.author.lastName}"></a>
                            </td>
                            <td th:text="${note.description}"></td>
                            <td th:text="${#calendars.format(note.dateCreated,'dd.MM.yy hh:mm:ss')}"></td>
                        </tr>
                        <tr th:if="${notes.size() == 0}">
                            <td colspan="3">
                                <p class="text-center"><strong>No notes found !</strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <a th:href="@{'/aiesec/add-note/' + ${aboutUser.id}}"><span class="btn btn-success">New note</span></a>
            </div>
        </div>
    </body>

</html>