<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeaderUser :: bodyHeader" th:remove="tag"></div>

            <div class="center-block" style="width:95%;">
                Interns that have stayed in your place.
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Duration</th>
                            <th>Intern</th>
                            <th>Feedback</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="matching : ${matchings}">
                            <td th:text="'From ' + ${#calendars.format(matching.startDate, 'dd.MM.yy')} + ' to ' + ${#calendars.format(matching.endDate, 'dd.MM.yy')}"></td>
                            <td th:text="${matching.intern.name} + ' ' + ${matching.intern.lastName}"></td>
                            <td>
                                <a th:href="@{'/host/newfeedback/'} + ${matching.intern.id}">
                                    <span class="btn btn-default"><span class="glyphicon glyphicon-comment"></span>Feedback</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>